# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.log
*.pot
*.pyc
.coverage
.coverage.*
.pytest_cache/
coverage.xml
htmlcov/
junit*.xml
.cq_results/

# Virtual environment
.venv-*/
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Runtime/output artifacts
workspace/
shapes/
renders/
test_output/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*~

*_workspace/
